<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>userdata</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-4">
    <h2>User Info</h2>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Role</th>
        </tr>
        </thead>
        <tbody>
<tr th:each="use : ${userdata}">
    <td th:text="${use.username}"></td>
    <td th:text="${use.surname}"></td>
    <td th:text="${use.email}"></td>
    <td>
        <div th:each="role: ${use.getRoleList()}">
            <span th:if="${role.getRole() == 'ROLE_USER'}" class="badge badge-primary">USER</span>
            <span th:if="${role.getRole() == 'ROLE_ADMIN'}" class="badge badge-danger">ADMIN</span>
            <br>
        </div>
    </td>
    </tr>
        </tbody>
    </table>
<div class="container mt-3">
    <form th:action="@{/logout}" th:method="POST">
        <input class="btn btn-primary" type="submit" value="Logout">
    </form>
</div>
</body>
</html>